.banner {
    margin-top: 0;
    padding: 170px 0 50px 0;
    background-image: url('../assets/img/7.PNG');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    color: #1a4f61;
    background: linear-gradient(90.21deg,  #f8faf9 -5.91%, rgb(56,122,143)111.58%);
    border: 1px solid rgb(56,122,143);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: #256D85;
  }
  .banner p {
    color: #256D85;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #256D85;
  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .banner {
    padding: 170px 0 50px 0;
  }
  .banner h1 {
    font-size: 65px;
  }
  .banner p {
    font-size: 18px;
    width: 96%;
  }
}


/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .banner {
    padding: 240px 0 50px 0;
  }
  .banner h1 {
    font-size: 55px;
  }
  .banner p {
    font-size: 18px;
    width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .banner {
    padding: 240px 0 40px 0;
  }
  .banner .tagline {
    font-size: 18px;
    padding: 7px 9px;
  }
  .banner h1 {
    font-size: 45px;
  }
  .banner p {
    font-size: 17px;
    width: 95%;
  }
} 

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .banner {
    padding: 240px 0 30px 0;
    background-size: cover;
  }
  .banner .tagline {
    font-size: 16px;
    padding: 6px 8px;
  }
  .banner h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  .banner p {
    font-size: 16px;
    width: 100%;
  }
}