/* Base Styles */
.experience {
    padding: 60px 0;
    background-color: #d8e7f1;
  }
  
  .experience h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: #256D85;
    margin-bottom: 30px;
  }
  
  .experience-card {
    background-color: #DFF6FF;
    border: none;
    box-shadow: 0 4px 8px #256D85;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .experience-card .card-title {
    font-size: 30px;
    color: #4f94aa;
  }
  
  .experience-card .card-subtitle {
    font-size: 1.2rem;
    color: #256D85;
  }
  
  .experience-card .card-text {
    color: #4f94aa;
  }
  
  .experience-card ul {
    padding-left: 20px;
    color: #4f94aa;
  }
  
  .experience-card ul li {
    list-style-type: disc;
    color: #4f94aa;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .experience {
      padding: 40px 20px;
    }
  
    .experience h2 {
      font-size: 35px;
    }
  
    .experience-card {
      padding: 15px;
    }
  
    .experience-card .card-title {
      font-size: 24px;
    }
  
    .experience-card .card-subtitle, 
    .experience-card .card-text, 
    .experience-card ul li {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .experience {
      padding: 30px 10px;
    }
  
    .experience h2 {
      font-size: 28px;
    }
  
    .experience-card {
      padding: 10px;
    }
  
    .experience-card .card-title {
      font-size: 20px;
    }
  
    .experience-card .card-subtitle, 
    .experience-card .card-text, 
    .experience-card ul li {
      font-size: 14px;
    }
  }
  