
/************ Banner Css ************/
@import url('../src/style/Banner.css');

/************ Certificate Css ************/
@import url('../src/style/Certificates.css');

/************ Education Css ************/
@import url('../src/style/Education.css');

/************ Experience Css ************/
@import url('../src/style/Experience.css');

/************ Footer Css ************/
@import url('../src/style/Footer.css');

/************ Navbar Css ************/
@import url('../src//style/Navbar.css');

/************ Projects Css ************/
@import url('../src/style/Projects.css');

/************ Skills Css ************/
@import url('../src/style/Skills.css');

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #f8faf9 !important;
  color: #fff !important;
  font-family: Georgia, 'Merriweather' !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Merriweather',  Georgia !important;
}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
button {
  border: 0;
  background-color: transparent;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}
p.success {
	color: green;
}
p.danger {
	color: red;
}

/* CSS */
.video-background {
  position: relative;
  height: 100vh; /* Full screen */
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
